@import "tailwindcss";

.certificate-container {
	position: relative;
	width: 1000px;
	height: 707px;
  font-family: 'Orbitron', sans-serif;
}

.certificate-image {
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	color: #fff;
	font-weight: 800;
	white-space: nowrap;
}

.team {
	top: 290px;
	font-size: 30px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.name {
	top: 368px;
	font-size: 30px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}